@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #efefef;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1s ease-out;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float2 {
  animation: float 8s ease-in-out infinite;
}

@keyframes slowZoom {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1.2);
  }
}

.animate-slowZoom {
  animation: slowZoom 12s ease-in-out infinite alternate;
}